.custom-btn:hover {
	background-color: #0b20da;
}

.custom-btn {
	color: black;
	background-color: #3c5a68;
}

.col-md-4 .send-btn {
	color: black;
	background-color: #1d96ce;
}

.fond {
	background-color: #7c6747;
}

.bordered {
	border-radius: 10px;
}

.encadre-color {
	box-shadow: #7c6747;
	background-color: aliceblue;
	padding: 20px;
}

.full-height {
	min-height: 100vh;
}

.invalid-feedback{
	color: red;
}