.custom-btn:hover {
	background-color: #7c4747;
}

.custom-btn {
	color: black;
	background-color: #bd9d6d;
}

.col-md-4 .send-btn {
	color: black;
	background-color: #bd9d6d;
}

.fond {
	background-color: #7c6747;
}

.bordered {
	border-radius: 10px;
}

.encadre-color {
	box-shadow: #7c6747;
	background-color: aliceblue;
	padding: 20px;
}

.full-height {
	min-height: 100vh;
}
