.upe-mutistep-form .step {
	display: none;
}
.upe-mutistep-form .step-header .steplevel {
	position: relative;
	flex: 1;
	padding-bottom: 30px;
}
.upe-mutistep-form .step-header .steplevel.active {
	font-weight: 600;
}
.upe-mutistep-form .step-header .steplevel.finish {
	font-weight: 600;
	color: #009688;
}
.upe-mutistep-form .step-header .steplevel::before {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	z-index: 9;
	width: 20px;
	height: 20px;
	background-color: #d5efed;
	border-radius: 50%;
	border: 3px solid #ecf5f4;
}
.upe-mutistep-form .step-header .steplevel.active::before,
.upe-mutistep-form .step-header .steplevel:hover::before {
	background-color: #3fbdb4;
	border: 3px solid #d5f9f6;
}

.upe-mutistep-form .step-header .steplevel.finish::before {
	background-color: #3fbdb4;
	border: 3px solid #3fbdb4;
}
.upe-mutistep-form .step-header .steplevel::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 8px;
	width: 100%;
	height: 3px;
	background-color: #f3f3f3;
}
.upe-mutistep-form .step-header .steplevel.active::after {
	background-color: #a7ede8;
}
.upe-mutistep-form .step-header .steplevel.finish::after {
	background-color: #009688;
}
.upe-mutistep-form .step-header .steplevel:last-child:after {
	display: none;
}

.form-container {
	background-color: rgb(90, 155, 146);
	padding: 20px;
	margin-top: 20px;
	border-radius: 5px;
}

.success-fond {
    background-color: rgb(127, 194, 185);
}